{% load defects_nav_tag %}
{% nav_objects as nav_obj %}
<ul class="nav nav-tabs justify-content-center">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}" tabindex="-1" aria-disabled="true">Bollore</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Дефекты</a>
    <ul class="dropdown-menu">
      {% for s in nav_obj.status %}
        {% if s.pk == nav_obj.workshop_selected %}
          <li><a class="dropdown-item">{{ s.defect_status }}</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{{ s.get_absolute_url }}">{{ s.defect_status }}</a></li>
        {% endif %}
      {% endfor %}
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="{% url 'all-defects' %}">Все дефекты</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Дефекты
      в цехах</a>
    <ul class="dropdown-menu">
      {% for s in nav_obj.shops %}
        {% if s.pk == nav_obj.workshop_selected %}
          <li><a class="dropdown-item">{{ s.name_workshop }}</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{{ s.get_absolute_url }}">{{ s.name_workshop }}</a></li>
        {% endif %}
      {% endfor %}
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="{% url 'home' %}">Все цеха</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Дефекты
      по несоответствию</a>
    <ul class="dropdown-menu">
      {% for s in nav_obj.disagreement %}
        {% if s.pk == nav_obj.workshop_selected %}
          <li><a class="dropdown-item">{{ s.mismatch }}</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{{ s.get_absolute_url }}">{{ s.mismatch }}</a></li>
        {% endif %}
      {% endfor %}
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="{% url 'home' %}">Все дефекты</a></li>
    </ul>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'all-bodies' %}">Картотека кузовов</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'my-dashboard' %}">Статистика</a>
  </li>
  {% if request.user.is_authenticated and request.user.groups.all.0.name == 'Control Inspectors'%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_defect' %}">Добавить дефект</a>
    </li>
  {% endif %}
  <span class="navbar-text">
  {% if request.user.is_authenticated %}
    {{ user.last_name }} {{ user.first_name }} | <a href="{% url 'logout' %}">Выход</a>
  {% else %}
    <a href="{% url 'login' %}">Войти</a>
  {% endif %}
</span>
</ul>


{#<ul class="nav justify-content-center">#}
{#  <li class="nav-item">#}
{#    <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#  </li>#}
{#</ul>#}