{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="{% url 'home' %}">Проект Bollore</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'add_defect' %}">Добавить дефект</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}



<ul class="nav nav-tabs justify-content-center">

    <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bollore</a>
  </li>

  <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Дефекты</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Номера кузовов</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>


    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Дефекты в цехах</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>


  <li class="nav-item">
    <a class="nav-link" href="{% url 'add_defect' %}">Добавить дефект</a>
  </li>
</ul>




{#<ul class="nav justify-content-center">#}
{#  <li class="nav-item">#}
{#    <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link" href="#">Link</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#  </li>#}
{#</ul>#}